<div class="AuthorCard">
    <%= link_to profile_path(profile) do %>
    <%= image_tag profile.avatar, alt: profile.name, class: "AuthorAvatarImage" if profile.avatar.present? %>
    <h3><%= profile.name %></h3>
    <div class="AuthorLevel">
        <p>Уровень автора:</p>
    </div>
    <p><%= profile.bio %></p>
    <div сlass="SecondaryButton"> читать рецензии </div>
    <% end %>
</div>