<div class="IssueCard">
    <%= link_to admin_issue_path(issue) do %>
    <% if issue.cover.present? %>
    <%= image_tag issue.cover, alt: issue.name, class: "IssueCoverImage" %>
    <% else %>
    <p>Изображение не доступно</p>
    <% end %>
    <h3><%= issue.name %></h3>
    <p><%= issue.created_at.strftime("%d.%m.%Y") %></p>
    <% end %>
</div>