<div class="TagCard">
    <%= link_to admin_tag_path(tag) do %>
    <%= image_tag tag.cover, alt: tag.text, class: "TagCoverImage" if tag.cover.present? %>
    <h3><%= tag.text %></h3>
    <% end %>
</div>